* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#main {
}

.heading {
	background-color: blue;
	color: white;
	 {
		 {
			/* padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px; */
		}
	}
	padding: 20px 30px 30px 20px;
	padding-block: 20px 20px;
	margin-inline: 20px 20px;
	margin-block-start: 20px;
	margin-block-end: 20px;
	margin-inline-start: 20px;
	margin-inline-end: 20px;
	border: 2px dotted white;
	outline: 3px dotted purple;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 300px;
}

.header {
	background-color: #ddd;
	padding: 20px;
}

button {
	border: none;
	outline: 2px solid purple;
	color: purple;
	background-color: transparent;
}

ul li a {
	color: purple;
}

header > ul {
	list-style: none;
}
